@{
    ViewData["Title"] = "Home Page";
}

@model List<ProductViewModel>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="btn-link" asp-controller="Product" asp-action="Index">Products</a>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3">
                <a asp-action="GetProduct" asp-route-id="@item.Id">
                    <img src="/Images/@item.Image" alt="Photo of Prouct" asp-append-version="true" />
                    <s class="text-secondary">@item.Cost грн</s>
                    <p class="text-danger">@item.CostOnSale грн</p>
                    <p>@item.Name</p>
                </a>
            </div>
        }
    </div>
</div>
