@model ProductViewModel

<h2>Create product</h2>
<form asp-controller="Product" asp-action="CreateProduct">
    <div>
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" required />
    </div>

    <div>
        <label asp-for="Firm"></label>
        <input type="text" asp-for="Firm" required />
    </div>

    <div>
        <label asp-for="Cost"></label>
        <input type="number" asp-for="Cost" required />
    </div>

    <div>
        <label asp-for="Count"></label>
        <input type="number" asp-for="Count" required />
    </div>

    <div>
        <label asp-for="Image"></label>
        <input type="text" accept=".jpg" asp-for="Image" required />
    </div>

    <div>
        <input type="submit" value="Create" class="btn" />
    </div>

</form>