<form method="post">
    <p>
        <label>Name</label><br />
        <input type="text" name="Name" />
    </p>
    <p>
        <label>Firm</label><br />
        <input type="text" name="Firm" />
    </p>
    <p>
        <label>Price</label><br />
        <input type="number" name="Cost" />
    </p>
    <p>
        <label>Count</label><br />
        <input type="number" name="Count" />
    </p>
    <p>
        <input type="submit" value="Create" />
    </p>
</form>