@model IEnumerable<ProductViewModel>

<p>Start of list</p>
<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-4"style="border:solid">
        <img src="@item.Image" alt="image" />
        <p>@item.Name</p>

    </div>
    }
</div>
<p>End of list</p>

<a asp-controller="Product" asp-action="CreateProduct">Create</a>