@model IEnumerable<ProductViewModel>

<p>Start of list</p>
<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-4"style="border:solid">
        <img src="@item.Image" alt="image" />
        <p>@item.Name</p>

    </div>
    }
</div>
<p>End of list</p>
<img src="../Images/furatsilin-tabl-20mg-20-kievmedpreparat-oao-list-250x250-0eb7.jpg" alt="Fuck" />
<a asp-controller="Product" asp-action="CreateProduct">Create</a>