@model IEnumerable<ProductViewModel>

<a asp-controller="Product" asp-action="CreateProduct" class="btn-block">Create</a>
<div class="row">
    <div class="nav col-2">
        <p>Here I will create menu </p>
    </div>

    <div class="col-10 row">
        @foreach (var item in Model)
        {
            <div class="col-4">
                <img src="../Images/@item.Image" alt="Photo of Prouct" />
                <p class="text-black-50">@item.Cost грн</p>
                <p>@item.Name</p>
                <hr />
            </div>

        }
    </div>
</div>